# general
package-lock.json
.env
*.log

# vscode
.vscode

# node
node_modules

# nuxt
.nuxt
nuxt.d.ts

# macos
.DS_Store

# yarn
.yarn/cache
.yarn/*state*

# local History
.history

# service
src/database/generated
